# jwt key
JWT_SECRET= ""

# cloudinary
CLOUDINARY_CLOUD_NAME= ""
CLOUDINARY_API_KEY= ""
CLOUDINARY_API_SECRET= ""

#spring mail
SPRING_MAIL_USERNAME= ""
SPRING_MAIL_PASSWORD= ""

#Ket noi data base
CONNECTION_STRING = ""
CONNECTION_USERNAME = ""
CONNECTION_PASSWORD = ""

#link cac duong dan cua du an
BASE_URL = ""
FE_URL = ""
VERIFY_TOKEN_CANDIDATE = ""
VERIFY_TOKEN_EMPLOYER = ""
VERIFIED_CANDIDATE_URL = ""
VERIFIED_EMPLOYER_URL = ""

#tich hop vnpay
PAY_URL = ""
RETURN_URL = ""
TMN_CODE = ""
SECRET_KEY = ""
API_URL = ""